.app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 191, 191);
    height: 100vh;
    position: relative;
}

.eightball {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ball-text {
    color: white;
    font-size: 25px;
    position: absolute;
}